.wbdv-hidden{
    display: none;
}
.table-border{
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: grey;
}
.table-header-css{
    color: white;
    background-color: #28a745;
}

.displaypassword{
    -webkit-text-security: circle;
}